/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flexbox Properties */
.flex {
    display: flex;
}

.justify-content-c {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.align-items-c {
    align-items: center;
}

.dir-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Background Properties */
.bg-skyblue {
    background-color: #0084fd;
}

/* Text Properties */
.txt-white {
    color: white;
}

/* Margin Properties */
margin-0auto {
    margin: 0 auto;
}

/* Padding Properties */
.pad-point5rem {
    padding: .5rem;
}

/* Element Properties */
body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

header > nav {
    padding: 1rem 2rem 1.5rem;
}

header ul {
    display: none;
}

/* Responsive Layout */
/* Tablet Responsive (from 480px to 768px) */
@media screen and (min-width: 480px) {
    header .fa-bars {
        display: none;
    }

    header ul {
        display: flex;
    }

    header > nav {
        width: 70%;
        margin: 0 auto;
    }
}


/* Desktop Responsive (from 768px higher) */
@media screen and (min-width: 768px) {
    
}