/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flexbox Properties */
.flex {
    display: flex;
}

.justify-content-c {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.align-items-c {
    align-items: center;
}

.dir-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}