/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flexbox Properties */
.flex {
    display: flex;
}

.justify-content-c {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.align-items-c {
    align-items: center;
}

.dir-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Background Properties */
.bg-white {
    background-color: white;
}

.bg-skyblue {
    background-color: #0084fd;
}

.bg-lightblue {
    background-color: #b5ddff;
}

/* Text Properties */
.txt-white {
    color: white;
}

/* Margin Properties */
margin-0auto {
    margin: 0 auto;
}

/* Padding Properties */
.pad-point5rem {
    padding: .5rem;
}

/* Element Properties */
body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

section {
    margin: 2rem 0 4rem;
}

header > nav {
    padding: 1rem 2rem 1.5rem;
}

header ul {
    display: none;
}

.element-box {
    border-radius: 30px;
    width: 100%;
    border: 3px solid red;
    margin: 1rem 2rem;
}

.element-box.small-box {
    height: 350px;
}

.element-box.big-box {
    height: 700px;
}

/* Responsive Layout */
/* Tablet Responsive (from 480px to 768px) */
@media screen and (min-width: 480px) {
    header .fa-bars {
        display: none;
    }

    header ul {
        display: flex;
    }

    header > nav,
    .container {
        width: 70%;
        margin: 0 auto;
    }

    .element-box {
        margin: .5rem;
    }

    .element-box.small-box {
        width: calc(100% / 3 - 1.5rem);
    }

    .element-box.big-box {
        width: calc((100% / 3) * 2 - 2rem);
        height: 350px;
    }
}


/* Desktop Responsive (from 768px and higher) */
@media screen and (min-width: 768px) {
    
}